


<footer>
    <div class="subscribeform-container">
        <div>
            <form>
                <input type="text" name="subscribetext" placeholder="youremail@domain.com">
            </form>
        </div>
        <div>
            <form>
                <input type="submit" value="SUBSCRIBE" />
            </form>
        </div>
    </div>
    <div class="socialmedia-container">
        <a href="https://www.facebook.com/"><img src="{{ site.github.url }}/images/Facebook-Icon.png" alt="Facebook"></a>
        <a href="https://www.twitter.com/"><img src="{{ site.github.url }}/images/Twitter-Icon.png" alt="Twitter"></a>
        <a href="https://www.google.com/"><img src="{{ site.github.url }}/images/Google-icon.png" alt="Google"></a>    
        <a href="https://www.linkedin.com/"><img src="{{ site.github.url }}/images/Linkedin-icon.png" alt="Facebook"></a>
        <a href="https://www.youtube.com/"><img src="{{ site.github.url }}/images/Youtube-Icon.png" alt="Youtube"></a>
    </div>
    <div class="dontate-container">
        <div class="dontateheart">
            <a href="/donate.html"><img src="{{ site.github.url }}/images/heart-icon.png" alt="heart icon"></a>
        </div>
        <div class="donatebutton">
            DONATE
        </div>
       
    </div>




</footer>
