
<nav>
    <div class="logo-container">
        <img src="{{ site.github.url }}/images/Logo.png" alt="a dogs life" />
    </div>
    <div class="navigation-container">
        <div class="menu-container">
            <img src="{{ site.github.url }}/images/paw-icon.png" alt="a paw icon" />
            <div class="menutext">
            Menu
            </div>
        </div>
        <div class="search-container">
            <div>
                <form>
                    <input type="text" name="search" placeholder="SEARCH">
                </form>
            </div>
            <div>
                <form>
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </div>


</nav>
