<nav>
    <div class="logo-container-mobile">
        <img src="{{ site.github.url }}/images/Logo.png" alt="a dogs life" />
    </div>
    <div class="navigation-container">
        <div class="menu-container">
            <select size="1" dir="rtl" class="menu" onchange="location.href=this.value">
               <option></option> 
               <option value="{{ site.github.url }}/index.html">HOME</option>
               <option value="{{ site.github.url }}/pages/about-us.html">ABOUT US</option>
               <option value="{{ site.github.url }}/pages/adoptions.html">ADOPTIONS</option>
               <option value="{{ site.github.url }}/pages/contact-us.html">CONTACT US</option>
              </select>     
            <div class="menutext">
                Menu
            </div>
        </div>

        <div class="logo-container-computer">
            <img src="{{ site.github.url }}/images/Logo.png" alt="a dogs life" />
        </div>
        <div class="search-container">
            <div>
                <form>
                    <input type="text" name="search" placeholder="SEARCH">
                </form>
            </div>
            <div>
                <form>
                    <input type="submit" value="" />
                </form>
            </div>
        </div>
    </div>


</nav>
